<!-- voter_analytics/templates/voter_analytics/graphs.html -->
<!-- Author: David Myat (amyat@bu.edu), 10/30/2025 -->
<!-- Description: show graphs -->

{% extends 'voter_analytics/base.html' %}

{% block content %}

<div class="wrapper">
    
    <h2>Voter Analytics Graphs</h2>
    
    <div class="container">
        <h1>Voters</h1>
    
        <div>
            <form method="get" action="{% url 'graphs' %}" class="site-form">

                <label>Select Party Affiliation</label>
                <select name="party_affiliation">
                    <option value="">ALL</option>
                    <option value="D ">D</option>
                    <option value="R ">R</option>
                    <option value="U ">U</option>
                    <option value="CC">CC</option>
                    <option value="G ">G</option>
                    <option value="L ">L</option>
                    <option value="O ">O</option>
                    <option value="T ">T</option>
                    <option value="J ">J</option>
                    <option value="Q ">Q</option>
                    <option value="FF">FF</option>
                </select>
    
                <label for="min_birth_year">Min Birth Year</label>
                <select name="min_birth_year">
                    <option value="">ALL</option>
                    {% for year in birth_years %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
    
                <label for="max_birth_year">Max Birth Year</label>
                <select name="max_birth_year">
                    <option value="">ALL</option>
                    {% for year in birth_years %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
    
                <label for="voter_score">Voter Score</label>
                <select name="voter_score">
                    <option value="">ALL</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
    
                <h3>Voted In</h3>
                <label><input type="checkbox" name="v20state" value="v20state">V20 State</label>
                <label><input type="checkbox" name="v21town" value="v21town">V21 Town</label>
                <label><input type="checkbox" name="v21primary" value="v21primary">V21 Primary</label>
                <label><input type="checkbox" name="v22general" value="v22general">V22 General</label>
                <label><input type="checkbox" name="v23town" value="v23town">V23 Town</label>
    
                <button type="submit">Filter</button>
                <button type="reset">Cancel</button>
            </form>
        </div>
    </div>
    
    <div>
        <h3>Voter Age Distribution</h3>
        {{ graph_div_ages|safe }}
    </div>
    
    <div>
        <h3>Voter Party Affiliation</h3>
        {{ graph_div_parties|safe }}
    </div>
    
    <div>
        <h3>Voter Past Participation</h3>
        {{ graph_div_participation|safe }}
    </div>
    
</div>
{% endblock %}
