<!-- voter_analytics/templates/voter_analytics/voter.html -->
<!-- Author: David Myat (amyat@bu.edu), 10/30/2025 -->
<!-- Description: show single voter's details -->

{% extends 'voter_analytics/base.html' %}

{% block content %}
<div class="wrapper">
    <div>
    <h1>Showing Result for {{ voter.first_name}} {{voter.last_name}}</h1>

    <table>
        <tr>
            <th>Name</th>
            <th>Birth Date</th>
            <th>Registration Date</th>
            <th>Voted in 2020</th>
            <th>Voted in 2021 Town Election</th>
            <th>Voted in 2021 Primary Election</th>
            <th>Voted in 2022 General Election</th>
            <th>Voted in 2023 Town Election</th>
        </tr>

        <tr>
            <td>{{ voter.first_name }} {{ voter.last_name }}</td>
            <td>{{ voter.date_of_birth }}</td>
            <td>{{ voter.registration_date }}</td>
            <td>{{ voter.v20state }}</td>
            <td>{{ voter.v21town }}</td>
            <td>{{ voter.v21primary }}</td>
            <td>{{ voter.v22general }}</td>
            <td>{{ voter.v23town }}</td>
        </tr>
    </table>
    <div>
        <a href="https://maps.google.com/maps?q={{ voter.street_number }}+{{ voter.street_name }}+Newton,MA+{{ voter.zip_code }}" target="_blank">View on Google Maps</a>
    </div>
    </div>
</div>

{% endblock %}