<!-- betterboxd/templates/betterboxd/base.html -->
<!-- Author: David Myat (amyat@bu.edu), 12/2/2025 -->
<!-- Description: Base template for the betterboxd app -->
{% load static %}

<html>
    <head>
        <title>BetterBoxd</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <header>
            <h1>BetterBoxd</h1>
            <nav>
            </nav>
        </header>

        {% block content %}
        {% endblock %}
        
    </body>
</html>