<!-- # File: betterboxd/templates/betterboxd/create_movie.html -->
<!-- # Author: David Myat (amyat@bu.edu), 12/3/2025 -->
<!-- # Description: Template for creating a new movie in the betterboxd project -->

{% extends 'betterboxd/base.html' %}

{% block content %}
<h2>Create New Movie</h2>

<div class="form-box">
    <form method="post" class="site-form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="betterboxd-button">Create Movie</button>
    </form>
</div>

<a href="{% url 'show_all_movies' %}" class="betterboxd-button">Back to Main Page</a>

{% endblock %}