<!-- # File: betterboxd/templates/betterboxd/create_review.html -->
<!-- # Author: David Myat (amyat@bu.edu), 12/3/2025 -->
<!-- # Description: Template for creating a new review in the betterboxd project -->

{% extends 'betterboxd/base.html' %}

{% block content %}
<h2>Create New Review for {{ movie.title }}</h2>

<form method="post" class="site-form">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Create Review</button>
</form>

<a href="{% url 'movie_detail' pk=movie.pk %}">Back</a>

{% endblock %}