<!-- betterboxd/templates/betterboxd/login.html -->
<!-- Author: David Myat (amyat@bu.edu), 12/2/2025 -->
<!-- Description: Form to log in a user -->

{% extends 'betterboxd/base.html' %}

{% block content %}

<h1>Login to BetterBoxd</h1>

<div class="form-box">
    <form method="post" class="site-form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="betterboxd-button">Login</button>
        <input type="hidden" name="next" value="{% url 'show_all_movies' %}">
    </form>
</div>

<hr>
Don't have an account?
<a href="{% url 'create_profile' %}" class="betterboxd-button">Create Profile Here</a>

{% endblock %}