<!-- # File: betterboxd/templates/betterboxd/show_all_movies.html -->
<!-- # Author: David Myat (amyat@bu.edu), 12/2/2025 -->
<!-- # Description: show all movies template for betterboxd project -->

{% extends 'betterboxd/base.html' %}

{% block content %}

<h1>All Movies</h1>

<form method="get" class="site-form">
    <input type="text" name="title" placeholder="Search by title">
    <input type="text" name="genre" placeholder="Search by genre">
    <input type="text" name="year" placeholder="Search by year">
    <button type="submit" class="betterboxd-button">Search</button>
</form>

<div class="show-all-movies">
    {% for movie in movie %}
        <!-- <a href="{% url 'movie_detail' movie.id %}" class="movie-link"> -->
            <div class="movie-box">
                {% if movie.poster %}
                    <img src="{{ movie.poster }}" alt="{{ movie.title }} Poster" class="movie-poster">
                {% endif %}
                <h3><a href="{% url 'movie_detail' movie.id %}">{{ movie.title }}</a></h3>
                <p><strong>Release Year:</strong> {{ movie.year }}</p>
                <p><strong>Genre:</strong> {{ movie.genre }}</p>
                <p><strong>Director:</strong> {{ movie.director }}</p>
                <p><strong>Runtime:</strong> {{ movie.runtime }} minutes</p>
            </div>
        <!-- </a> -->
    {% endfor %}
</div>

{% endblock %}
