<!-- # File: betterboxd/templates/betterboxd/update_review.html -->
<!-- # Author: David Myat (amyat@bu.edu), 12/3/2025 -->
<!-- # Description: Template for updating an existing review in the betterboxd project -->

{% extends 'betterboxd/base.html' %}

{% block content %}
<h2>Update Review for {{ movie.title }}</h2>

<div class="form-box">
    <form method="post" class="site-form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="betterboxd-button">Update Review</button>
    </form>
</div>

<a href="{% url 'movie_detail' pk=movie.pk %}" class="betterboxd-button">Back</a>

{% endblock %}
