<!-- # File: dadjokes/templates/dadjokes/base.html -->
<!-- # Author: David Myat (amyat@bu.edu), 11/13/2025 -->
<!-- # Description: Base template for dadjokes project -->

{% load static %}

<html>
    <head>
        <title>Dad Jokes</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <header>
            <h1>Dad Jokes</h1>
            <nav>
                <a href="{% url 'random' %}">Random Joke & Picture</a> |
                <a href="{% url 'jokes' %}">All Jokes</a> |
                <a href="{% url 'pictures' %}">All Pictures</a>
            </nav>
        </header>
        {% block content %}
        {% endblock %}
    </body>
</html>