<!-- # File: dadjokes/templates/dadjokes/random.html -->
<!-- # Author: David Myat (amyat@bu.edu), 11/13/2025 -->
<!-- # Description: Template for displaying a random joke and picture -->

{% extends "dadjokes/base.html" %}

{% block content %}
<div class="wrapper">
    <h2>Random Dad Joke</h2>
    <div>
        <p>Name: {{joke.name}}</p>
        <p>{{joke.text}}</p>
    </div>
    
    <h2>Random Silly Picture</h2>
    <div>
        <p>Contributor: {{picture.name}}</p>
        <img src="{{picture.image_url}}" alt="Silly Picture" style="width: 400px; height: 400px;">
    </div>
</div>
{% endblock %}
