body {
    background-color: #fff;
    color: black;
    font-family: arial;
    margin-top: 35px
}

h1,h2,h3,h4,h5{
    font-weight: normal;
    background:aliceblue;
    margin: 0;
}

a, a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: darkblue;
    text-decoration: none;
    background-color: white;
    /* font-weight: bold; */
}

body html {
    max-width: 70vw;
    /* padding: 20px auto; */
}

header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background:aliceblue;
    position: fixed;
    top: 0px;
    z-index: 999;
    /* padding-right: 50px auto; */
}

footer {
    width: 100%;
    background:aliceblue;
    bottom: 0px;
    text-align: center;
    position: fixed; 
}


.wrapper {              /* centering and margin around whole wrapper element */
    border: 2px solid;
    max-width: 100%;
    position: relative;
    top: 50px;
    scroll-padding-top: 100px;
    /* scroll-padding-bottom: 100px; */
    padding-bottom: 50px;
    
    /* top:100px; */
    /* bottom: 100px; */
}


div.wrapper h1 {
    text-align: center;
    color: darkblue;
    margin: 10px auto;
    font-size: 2.4 em; 

}

div.wrapper h2 {
    text-align: left;
    color: darkblue;
    margin: 5px auto;
    font-size: 2 em; 
}


section {
    border: 2px solid darkblue;    /* border around each event */
    position: relative;
    padding-bottom: 4px;
}


nav {
    justify-self: end;
    background: none;
    color: darkblue;
    /* border: 1px solid; */
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav button {
    background: none;
    color: black;
    font-family: Arial;
    cursor: pointer; 
    border: 0;
    font-size: 1.2 em;
}

.mc-table {
    display: table;
    width: 100%;
    table-layout: fixed;
}


.mc-table-head {
    border: 1px dashed darkblue;    /*border around each row */
    display: table-row;
    font-size: 1.2em;
}

.mc-table-head .detail {
    display: table-cell;
    color:darkblue;
    font-weight: bold;
    background-color: white;
    padding: 5px;
    position: relative;
   
}

.mc-table-row  {
    display: table-row;
    border: 1px dashed darkblue;    /*border around each row */
    background-color: white;
}


.mc-table-row .detail {
    color:darkblue;
    display: table-cell;
   
    padding: 5px;
}

.mc-table-row .detail img {
    max-height: 75px;
    align-content: right;
}

/* must have no space before :hover */
.mc-table-row:hover {
    background-color: aliceblue;    
    border: 1px solid;
}

.site-form {
    margin-top: 10px;
    /* border: 2px solid darkblue; */
    padding: 10px;
}

/* style the forms with class site-form */
/* .site-form input, .site-form textarea, .site-form select {
    display: block;
    margin: 5px 0 0 0;
    padding: 5px;
} */

/* style the submit button ; didn't quite work?? */
/* .site-form input [type="submit"] {
    background: slategray;
    border: 0;
    color: fff;
    font-size: 1.2em;
    border-radius: 4px;
    margin: 5px 0;
} */


/* style the help text in the forms */
.helptext, .helptext.ul {
    margin-top: 0 auto;
    bottom: 20px;
    color: #bbb;
    font-size: 0.9em;
}

/* style the error list in the forms validation */
.errorlist li {
    padding: 10px;
    list-style-type: none;
    border: 1px solid crimson;
    color: crimson;
    margin: 10px 0;
}


.errorlist {
    padding: 0px;
}

/* CSS for /quotes/quote div container */
.quote-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 70vw;
    margin: 0 auto;
    gap: 20px;
}

/* keep image from internet consistent */
div img {
    max-width: 60%;
    min-width: 60%;
    max-height: 60%;
}

/* styling only for quotes page body */
.quotes-page-body {
    background-color: aliceblue;
}

/* style for each quote in show_all page */
.quote-container ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px
}

/* styling restaurant base body */
.restaurant-body {
    background-color: aliceblue;
}

/* style for images and image container in show_all page */
.quote-container .image-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.quote-container .image-list img {
    max-height: 200px;
    min-height: 100px;
}

/* style for general restaurant divs */
.restaurant-container img {
    min-height: 450px;
    min-width: 80%;
    justify-content: center;
    align-items: center;
}

.restaurant-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurant_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form_category_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.restaurant-container.homepage {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
}

.left-homepage {
    flex-basis: 2;
}

.right-homepage {
    flex-basis: 1;
}

.confirmation-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.confirmation-page ul {
    list-style-type: none;
}

.confirmation-page * {
    margin-bottom: 10px;
}

.restaurant-confirm-title {
    color: black
}

.show-all-movies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.movie-box {
    border: 2px solid darkblue;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-box {
    max-width: 500px;
    padding: 20px;
    margin: 20px auto;
    background: aliceblue;
    border: 1px solid black;
    border-radius: 6px;
}

.movie-poster {
    width: 300px;
    height: 300px;
    border-radius: 4px;
    object-fit: contain;
}

.movie-button {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.review-box {
    border: 1px solid darkblue;
    padding: 15px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 4px;
}

.movie-link {
    text-decoration: none;
}

.betterboxd-button {
    padding: 5px 10px;
    border: 3px solid darkblue;
    background-color: white;
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;
}

.betterboxd-form {
    display: block;
    margin-bottom: 5px;
}

.betterboxd-form label, input {
    display: block;
    font-weight: bold;
}

.search-form {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}


/* responsive styles when width is less than 1400px */
@media screen and (max-width: 560px) {
    header h1 {
        size: 0.8em;
    }

    nav li {
        display: block;
        margin-left: 0px;
        font-size: 14px;
        width: 100%;
    }
    
    nav button {
        background: none;
        color: black;
        font-family: Arial;
        cursor: pointer; 
        border: 0;
        font-size: 20px;
    }
    /* on mobile, display image as max 95% of available width*/
    img {
        max-width: 95%;
    }
}