<!-- quotes/templates/quotes/about.html -->
{% extends 'quotes/base.html' %}

    {% block content %}
    <div class="quote-container">
        <h1>About Oscar Wilde</h1>
        <img src={{author_image}} alt="image of Oscar Wilde"></img>
        <p>
            Oscar Fingal O'Fflahertie Wills Wilde (16 October 1854 – 30 November 1900) was an Irish author, poet, and playwright. After writing in different literary styles throughout the 1880s, he became one of the most popular and influential dramatists in London in the early 1890s.
        </p>
        <p>
            He was a key figure in the emerging Aestheticism movement of the late 19th century and is regarded by many as the greatest playwright of the Victorian era. Wilde is best known for his Gothic novel The Picture of Dorian Gray (1890), his epigrams, plays, and bedtime stories for children, as well as his criminal conviction in 1895 for gross indecency for homosexual acts.
        </p>
        <p>-Wikipedia</p>
    </div>

    {% endblock %}