<!-- quotes/templates/quotes/about.html -->
{% extends 'quotes/base.html' %}

    {% block content %}
    <div class="quote-container">
        <h1>About Oscar Wilde</h1>
        <img src={{author_image}} alt="image of Oscar Wilde"></img>
        <p>Oscar Fingal O'Fflahertie Wills Wilde (16 October 1854 – 30 November 1900) was an Irish author, poet, and playwright. After writing in different literary styles throughout the 1880s, he became one of the most popular and influential dramatists in London in the early 1890s.</p>
    </div>

    {% endblock %}