<!-- # File: quotes/templates/quotes/base.html -->
<!-- # Author: David Myat (amyat@bu.edu), 9/9/2025 -->
<!-- # Description: Base template for quotes project -->

{% load static %}
<html>
    <head>
        <title>Hello, world!</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body class="quotes-page">
        <nav>
            <li><a href="{% url 'quote_page' %}">Home</a></li>
            <li><a href="{% url 'about_page' %}">About</a></li>
            <li><a href="{% url 'show_all_page' %}">Show All</a></li>
        </nav>

        <!-- put page specific content here -->
         {% block content %}
         {% endblock %}
    </body>
    <footer>
        Footer
    </footer>
</html>