<!-- quotes/templates/quotes/show_all.html -->
{% extends 'quotes/base.html' %}

    {% block content %}
    <div class="quote-container">
        <h1>All Quotes & Images</h1>
        <ul>
            {% for quote in quotes %}
            <li>{{quote}}</li>
            {% endfor %}
        </ul>
        <ul class="image-list">
            {% for image in images %}
            <li><img src={{image}} alt="image of Oscar Wilde"></img></li>
            {% endfor %}
        </ul>
    </div>

    {% endblock %}