<!-- mini_insta/templates/mini_insta/base.html -->
<!-- Author: David Myat (amyat@bu.edu), 9/25/2025 -->
<!-- Description: Base template for the mini_insta app -->
{% load static %}

<html>
    <head>
        <title>Mini Insta</title>
        <link rel="stylesheet" href="{% static 'styles-insta.css' %}">
    </head>
    <body>
        <header class="base_header">
            <h1>Mini Insta</h1>
            <nav>
                <ul>
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'show_feed' %}">Home</a></li>
                        <li><a href="{% url 'profile' %}">Profile</a></li>
                        <li><a href="{% url 'create_post' %}">Create Post</a></li>
                        <li><a href="{% url 'search' %}">Search</a></li>
                    {% endif %}
                    <li><a href="{% url 'show_all_profiles' %}">All Profiles</a></li>
                    {% if request.user.is_authenticated %}
                    <li>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Logout">
                        </form>
                    </li>
                    {% else %}
                    <li>
                        <form action="{% url 'login' %}" method="get">
                            {% csrf_token %}
                            <input type="submit" value="Login">
                        </form>
                    </li>
                    <li>
                        <form action="{% url 'create_profile' %}" method="get">
                            {% csrf_token %}
                            <input type="submit" value="create_profile">
                        </form>
                    </li>
                    {% endif %}
                </ul>
                <hr>
                {% if request.user.is_authenticated %}
                Logged in as: {{ request.user }}
                {% else %}
                Not logged in.
                {% endif %}
            </nav>
        </header>
        {% block content %}
        {% endblock %}
    </body>
    <footer>
        Page created by David Myat - CS 412
    </footer>
</html>