<!-- mini_insta/templates/mini_insta/show_all.html -->
<!-- Author: David Myat (amyat@bu.edu), 9/25/2025 -->
<!-- Description: Show all profiles in the mini_insta app -->
{% extends 'mini_insta/base.html' %}

{% block content %}

<h1>Showing All Profiles</h1>

<main class="show-all-profiles">
    {% for profile in profiles %}
        <article>
            <div>
                <a href="{% url 'show_profile' profile.pk %}">
                    {% if profile.profile_image_url %}
                    <img src="{{ profile.profile_image_url }}" alt="{{ profile.display_name }} profile image"/>
                    {% elif profile.profile_image_file %}
                    <img src="{{ profile.profile_image_file.url }}" alt="{{ profile.display_name }} profile image"/>
                    {% else %}
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png" alt="No Image Placeholder"/>
                    {% endif %}
                </a>
                <h2>{{ profile.display_name }}</h2>
            </div>
        </article>
    {% endfor %}
</main>

{% endblock %}
