<!-- mini_insta/templates/mini_insta/show_profile.html -->
<!-- Author: David Myat (amyat@bu.edu), 9/25/2025 -->
<!-- Description: Show one profile in the mini_insta app -->
{% extends 'mini_insta/base.html' %}

{% block content %}

<div class="profile_header">
    <h1>Profile: {{ profile.username }}</h1>
    <h2>
        <a href="{% url 'create_post' profile.pk %}">Create Post</a>
    </h2>
</div>

<main class="grid-container">
    <article class="show_profile">
        <div class="profile_info">
            <div>
                <h2>{{ profile.display_name }}</h2>
                <img src="{{ profile.profile_image_url }}" alt="{{ profile.display_name }} profile image"/>
            </div>
            <div>
                <div class="bio">
                    <h3>Bio:</h3>
                    <!-- take in bio_text and also linebreaks -->
                    <p>{{ profile.bio_text|linebreaks }}</p>
                </div>
            </div>
        </div>
        <div class="profile_posts">
            {% for post in profile.get_all_posts %}
            <div class="profile_single_post">
                <a href="{% url 'show_post' post.pk %}">
                    <div>
                        <strong>
                            {{ post.profile.display_name }}
                            {{ post.timestamp }}
                        </strong>
                        <img src="{{ post.get_first_photo }}" alt="Post image">
                        <p>{{ post.caption }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </article>
</main>

{% endblock %}
