<!-- mini_insta/templates/mini_insta/show_all.html -->
<!-- Author: David Myat (amyat@bu.edu), 9/25/2025 -->
<!-- Description: Show all profiles in the mini_insta app -->
{% extends 'mini_insta/base.html' %}

{% block content %}

<h1>Showing All Profiles</h1>

<main class="grid-container">
    {% for profile in profiles %}
        <article>
            <div>
                <a href="{% url 'profile' profile.pk %}">
                    <img src="{{ profile.profile_image_url }}" alt="{{ profile.display_name }} profile image"/>
                </a>
                <h2>{{ profile.display_name }}</h2>
            </div>
        </article>
    {% endfor %}
</main>

{% endblock %}
