<!-- mini_insta/templates/mini_insta/profile.html -->
<!-- Author: David Myat (amyat@bu.edu), 9/25/2025 -->
<!-- Description: Show one profile in the mini_insta app -->
{% extends 'mini_insta/base.html' %}

{% block content %}

<h1>Profile: {{ profile.username }}</h1>

<main class="grid-container">
        <article class="show_profile">
            <div>
                <h2>{{ profile.display_name }}</h2>
                <img src="{{ profile.profile_image_url }}" alt="{{ profile.display_name }} profile image"/>
            </div>
            <div>
                <div class="bio">
                    <h3>Bio:</h3>
                    <!-- take in bio_text and also linebreaks -->
                    <p>{{ profile.bio_text|linebreaks }}</p>
                </div>
            </div>
        </article>
</main>

{% endblock %}
