<!-- mini_insta/templates/mini_insta/show_post.html -->
<!-- Author: David Myat (amyat@bu.edu), 9/25/2025 -->
<!-- Description: Show one post -->
{% extends 'mini_insta/base.html' %}

{% block content %}

<h1>Showing Post</h1>

<article>
    <h2> Posted By: {{ post.profile.display_name }}</h2>
    <p> Time: {{ post.timestamp }}</p>
    <p>{{ post.caption }}</p>

    <!-- display all photos for post -->
    {% for photo in post.get_all_photos %}
        <div>
            {% if photo.image_url %}
            <img src="{{ photo.image_url }}" alt="Photo for {{ post.profile.display_name }}"/>
            {% elif photo.image_file %}
            <img src="{{ photo.image_file.url }}" alt="Photo for {{ post.profile.display_name }}"/>
            {% else %}
            <p>No image available</p>
            {% endif %}
        </div>
    {% endfor %}

    <h3>
        <a href="{% url 'update_post' post.pk %}">Update Post</a>
    </h3>
</article>

{% endblock %}
