<!-- mini_insta/templates/mini_insta/show_post.html -->
<!-- Author: David Myat (amyat@bu.edu), 9/25/2025 -->
<!-- Description: Show one post -->
{% extends 'mini_insta/base.html' %}

{% block content %}

<h1>Showing Post</h1>

<article>
    <div class="post_container">
        <h2> Posted By: <b>{{ post.profile.display_name }}</b></h2>
        <p> Liked by <b>{{ post.get_likes.count }}</b> people</p>
        <p> Time: <b>{{ post.timestamp }}</b></p>
        <p>{{ post.caption }}</p>

        <!-- display all photos for post -->
        {% for photo in post.get_all_photos %}
            <div>
                {% if photo.image_url %}
                <img src="{{ photo.image_url }}" alt="Photo for {{ post.profile.display_name }}"/>
                {% elif photo.image_file %}
                <img src="{{ photo.image_file.url }}" alt="Photo for {{ post.profile.display_name }}"/>
                {% else %}
                <p>No image available</p>
                {% endif %}
            </div>
        {% endfor %}

        <h3>Comments</h3>
        {% for comment in post.get_all_comments %}
            <div>
                <strong>{{ comment.profile.display_name }}:</strong>
                <p>{{ comment.text }}</p>
            </div>
        {% endfor %}

        <div>
        {% if request.user.is_authenticated and request.user == post.profile.user %}
            <form action="{% url 'update_post' post.pk %}" method="GET">
                <button type="submit">Update Post</button>
            </form>
            <form action="{% url 'delete_post' post.pk %}" method="GET">
                <button type="submit">Delete Post</button>
            </form>
        {% elif request.user.is_authenticated %}
            <form action="{% url 'like_post' post.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit">Like Post</button>
            </form>
            <form action="{% url 'unlike_post' post.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit">Unlike Post</button>
                </form>
        {% endif %}
        </div>
    </div>
</article>

{% endblock %}
