<!-- mini_insta/templates/mini_insta/update_post_form.html -->
<!-- Author: David Myat (amyat@bu.edu), 10/9/2025 -->
<!-- Description: Form to update an existing post -->
{% extends 'mini_insta/base.html' %}

{% block content %}
<h1>Updating Post for {{ profile.display_name }}</h1>


<form action="{% url 'update_post' post.pk %}" method="POST">
    enctype="multipart/form-data"
    {% csrf_token %}
    <table>
        {{form.as_table}}
        <!-- add explicit image fields -->
        <label for="image_file">Image File:</label>
        <input type="file" name="image_file" id="image_file">
    </table>

    <div>
        <input type="submit" value="Update">
        <input type="button" value="Cancel" onclick="window.history.back();">
    </div>
</form>

{% endblock %}